body {
  margin: 0;
  background: #f0f7ff;
  font-family: "Bricolage Grotesque", sans-serif;
}
.floating-logo-left {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 230px;
  max-width: 40vw;
  z-index: 9999;
  pointer-events: none;
}

.site-header {
  background: #96c9e9;
  text-align: center;
  padding: 30px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Angkor", sans-serif;
  font-size: 2rem;
}

.site-nav {
  position: sticky;
  top: 60px;
  background: white;
  padding: 16px;
  z-index: 998;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #2c6db6;
  font-weight: bold;
  font-family: "Bricolage Grotesque", sans-serif;
}
 nav a {
  padding: 10px 5px;
  border-radius: 6px;
  transition: 0.3s ease;
}
nav a:hover {
  background: #96c9e9;
  color: white;
}     
.menu-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Angkor", sans-serif;
}

.section-main {
  padding: 40px 20px;
}

.page-title {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Angkor", sans-serif;
  margin-bottom: 40px;
  color: #09476a;
}

.section-subtitle {
  font-size: 1.8rem;
  font-family: "Acme", sans-serif;
  color: #0f4b75;
  margin: 20px 0 20px;
}

.info-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform .3s ease;
}

.info-wrapper:hover {
  transform: translateY(-4px);
}

.info-toggle {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 10;
}

.info-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.info-title {
  background: #96c9e9;
  color: #053b5a;
  padding: 12px;
  font-size: 1.3rem;
  margin: 0;
  font-weight: 700;
}

.info-expand {
  background: #e8f4ff;
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: max-height .4s ease, padding .4s ease;
  color: #003049;
}

.info-wrapper:hover .info-expand,
.info-toggle:checked ~ .info-expand {
  max-height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 15px;
  }

  #menu-toggle:checked ~ .nav-list {
    display: flex;
  }

  .floating-logo-left {
    width: 170px;
  }
}