body {
  margin: 0;
  background: #f4fbff;
  font-family: "Bricolage Grotesque", sans-serif;
}
.floating-logo-left {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 230px;
  max-width: 40vw;
  z-index: 9999;
  pointer-events: none;
}

.site-header {
  background: #96c9e9;
  text-align: center;
  padding: 30px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Angkor", sans-serif;
  font-size: 2rem;
}

.site-nav {
  position: sticky;
  top: 60px;
  background: white;
  padding: 16px;
  z-index: 998;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #2c6db6;
  font-weight: bold;
  font-family: "Bricolage Grotesque", sans-serif;
}
 nav a {
  padding: 10px 5px;
  border-radius: 6px;
  transition: 0.3s ease;
}
nav a:hover {
  background: #96c9e9;
  color: white;
}     
.menu-btn {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Angkor", sans-serif;
}
.festival-wrapper {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform .3s ease;
  background: white;
  cursor: pointer;
}

.festival-wrapper:hover {
  transform: translateY(-4px);
}

.fest-toggle {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.fest-card {
  position: relative;
  z-index: 1;
}

.fest-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.fest-title {
  margin: 0;
  padding: 12px 15px;
  background: #96c9e9;
  font-size: 1.4rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  color: #085281;
}
.fest-expand {
  max-height: 0;
  overflow: hidden;
  background: #f1f7ff;
  padding: 0 15px;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height .4s ease, padding .4s ease;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #003049;
  font-family: "Bricolage Grotesque", sans-serif;
}

.festival-wrapper:hover .fest-expand,
.fest-toggle:checked ~ .fest-expand {
  max-height: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
  }

  #menu-toggle:checked ~ .nav-list {
    display: flex;
  }

  .floating-logo-left {
    width: 180px;
    top: 5px;
  }

  .site-nav {
    top: 40px;
  }
}